.container {
    display: flex;
    background-color: #071629;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* height: fit-content; */
    overflow: hidden;
    /* z-index: 10; */
}

.text {
    display: flex;
    flex-direction: column;
    min-width: 30rem;
}

.main-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 60vw;
}

.moon {
    position: absolute;
    height: 35rem;
    z-index: 1;
}

.glow {
    position: absolute;
    height: 120rem;
    z-index: 2;
}

.text__h1 {
    color: white;
    font-size: 8rem;
    line-height: 0.9;
    font-family: 'Paytone One', sans-serif;
    margin-left: 2rem;
}

.text__p {
    color: white;
    margin-top: 5rem;
    font-size: 2rem;
    margin-left: 2rem;
    font-family: 'El Messiri', sans-serif;
}

.cloud_1 {
    z-index: 4;
    height: 20rem;
    margin-left: -40vw;
    margin-bottom: -40vh;
}


.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 2s infinite;
}


@keyframes twinkle {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

.scroll {
    width: 40px;
    height: 60px;
    z-index: 20;
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: white;
    border: 1px solid white;
    border-radius: 45%;
}


.circle {
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 10px auto;
    border-radius: 50%;
}