.project__main{
    height: fit-content;
    width: 100%;    
    height: fit-content;
    padding: 1rem 0;
    background-color: #171717;
}

.project__title{
    color: #171717;
    width: fit-content;
    margin: 0px auto;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-family: 'Paytone One', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    padding: 2rem 0rem ;
}

.project__title:hover{
    color: white;
    text-shadow: none;
    transition: 500ms all ease;
}

@media screen and (max-width: 768px) {
    .project__title {
        font-size: 3rem;
    }

}

.project__list{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
}