.projectcard__main{
    padding: 2rem 1.5rem;
    width: 90%;
    max-width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.projectcard__image{
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.projectcard__header{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem 0;
    justify-content: space-between;
}

.projectcard__header > h2{
    font-size: 2rem;
    color: white;
    font-family: 'El Messiri', sans-serif;
} 

.projectcard__header > p {
    font-size: 1rem;
    color: white;
    font-family: 'El Messiri', sans-serif;
}

.projectcard__description{
    color: lightgray;
    font-size: 0.7rem;
    font-family: 'El Messiri', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 0.5rem;
}

.projectcard__stacks{
    font-family: 'El Messiri' , sans-serif;
    font-size: 1rem;
    font-style: italic;
    color: white;
    padding-bottom: 0.5rem;
}

.projectcard__iconimage{
    height: 20px;
    cursor: pointer;
}

.projectcard__icons{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.projectcard__iconinside{
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}