.projectcard__main{
    padding: 2rem 2rem;
    position: relative;
    width: 95%;
    max-width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0 2rem;
}

.projectcard__main:hover >.projectcard__imagecontainer>  .projectcard__image{
    animation: pulse 1s ease-in-out;
    }

.projectcard__imagecontainer{
    width: 100%;
    height: 60%;
    overflow: hidden;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.projectcard__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* cover esma */
}

.projectcard__header{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem 0;
    justify-content: space-between;
}

.projectcard__header > h2{
    font-size: 2rem;
    color: white;
    font-family: 'El Messiri', sans-serif;
} 

.projectcard__header > p {
    font-size: 1rem;
    color: white;
    font-family: 'El Messiri', sans-serif;
}

.projectcard__description{
    color: lightgray;
    font-size: 0.7rem;
    font-family: 'El Messiri', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 0.5rem;
}

.projectcard__stacks{
    font-family: 'El Messiri' , sans-serif;
    font-size: 1rem;
    font-style: italic;
    color: white;
    padding-bottom: 0.5rem;
    
}

.projectcard__stack{
    text-decoration: underline;
}

.projectcard__iconimage{
    height: 20px;
    cursor: pointer;
}

.projectcard__icons{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.projectcard__iconinside{
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}



@media screen and (max-width: 768px) {
    .projectcard__main{
        height: fit-content;
    }
    .projectcard__header > h2{
        font-size: 1.5rem;
    }
    .projectcard__header > p {
        font-size: 0.8rem;
    }
    .projectcard__description{
        font-size: 0.8rem;
    }
    .projectcard__stacks{
        font-size: 0.8rem;
    }
    .projectcard__iconimage{
        height: 15px;
    }
    .projectcard__icons{
        margin-left: 1rem;
    }
    .projectcard__iconinside{
        font-size: 1.2rem;
    }
    
}

.projectcard__main:hover .topborder, .projectcard__main:hover .rightborder, .projectcard__main:hover .bottomborder, .projectcard__main:hover .leftborder{
    display: block;
}


.topborder{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    animation: horizontaldraw 0.8s ease-in-out;
}

.rightborder{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background-color: white;
    animation: verticaldraw 0.8s ease-in-out;
}

.bottomborder{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    animation: horizontaldraw 0.8s ease-in-out;
}

.leftborder{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: white;
    animation: verticaldraw 0.8s ease-in-out;
}


@keyframes verticaldraw {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}


@keyframes horizontaldraw {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}