.skills__main {
    height: fit-content;
    padding: 1rem 0;
    width: 100%;
    background-color: #171717;
}

.skills__header{
    color: white;
    font-family: 'Paytone One', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    padding: 3rem 0rem ;
}

.skills__table{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 80%;
    flex-wrap: wrap;
}