.skills__main {
    height: fit-content;
    padding: 1rem 0;
    width: 100%;
    background-color: #171717;
}

.skills__header{
    color: #171717;
    width: fit-content;
    margin: 0px auto;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-family: 'Paytone One', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    padding: 3rem 0rem ;
}

.skills__header:hover{
    color: white;
    text-shadow: none;
    transition: 500ms all ease;
}

@media screen and (max-width: 768px) {
    .skills__header {
        font-size: 3rem;
    }

}

.skills__table{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 80%;
    flex-wrap: wrap;
}