.skill-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #EDE7DE;
    justify-content: center;
    align-items: center;
}

.skill-title {
    margin-top: 10px;
    min-width: 200px;
    text-align: center;
}

.skill-h1 {
    padding-top: 3rem;
    font-family: "El Messiri", "sans-serif";
    font-weight: 700;
    font-size: 6rem;
    color: #025A4E;
}

.skill-main {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-items: center; */
    /* min-width: 800px; */
}

.skill-frontend {
    margin-bottom: 4rem;
    min-width: 200px;
}


.skill-subtitle {
    color: #025A4E;
    font-size: 2.5rem;
    margin-right: 2rem;
    /* text-decoration: underline; */
}

.skill-subcontainer {
    display: flex;
    flex-wrap: wrap;
}

.skill-button {
    height: 3rem;
    width: 10rem;
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #025A4E;
    border-radius: 50px;
    font-size: 1.2rem;
    transition: 800ms;
}

.skill-button:hover {
    background-color: #025A4E;
    color: white;
    font-size: 1.3rem;
}


@media (max-width: 700px) {
    .skill-h1 {
        font-size: 4rem;
        padding-top: 2rem;
    }

    .skill-subtitle {
        font-size: 1.5rem;
    }

    .skill-button {
        height: 2rem;
        width: 9rem;
        margin: 20px;
        display: flex;
        font-size: 1rem;
    }


    .skill-main {
        width: 400px;
    }

    .skill-frontend {
        margin-bottom: 1.2rem
    }

    .skill-button:hover {
        font-size: 1.1rem;
    }
}