.footer-container {
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.email {
    color: white;
    font-size: 3rem;
    font-family: "Paytone One";
    text-decoration: underline;
    cursor: pointer;
    padding: 5rem;
}

.social-icons {
    display: flex;
    width: 10rem;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
    color: white;
    font-size: 2rem;
    padding-bottom: 2rem;
}