.h1-text:hover {
    background-color: white;
    color: #071629;
}

.h1-text{
    padding: 0rem 2rem;
    margin: 1rem 0;
    padding-left: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 8rem;
    line-height: 0.9;
    font-family: 'Paytone One', sans-serif;
    margin-left: 2rem;
    letter-spacing: 3px;
}

@media (max-width: 768px) {
    .h1-text {
        min-width: 20rem;
        margin-top: -15rem;
        /* Adjust for smaller screens */
    }

    .h1-text {
        font-size: 3.5rem;
        /* Adjust font size for smaller screens */
    }


}