.mainlinks__main{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 50;
    cursor: pointer;
    border-bottom: 2px solid white;
    animation: appear 3s ease-in-out;
}

.mainlinks__cv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
}

.mainlinks__icons{
    color: white;
    font-size: 1.5rem;
}

.mainlinks__cv > p{
    color: white;
    font-size: 1.5rem;
    font-family: 'El Messiri', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}


@keyframes appear {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}